 @import "tailwindcss";
 
  
 
 @layer utilities {
  .range-red {
    @apply accent-red-500 w-20 md:w-40 h-2 rounded-lg;
  }
  }

@layer utilities {
  .range-green {
    @apply accent-green-500 w-20 md:w-40  h-2 rounded-lg;
  }
}
@layer utilities {
  .range-blue {
    @apply accent-blue-500  w-20 md:w-40  h-2 rounded-lg;
  }
}